<!-- include begin -->
    <%- include('include/_begin') %>
<!-- /include begin -->
        <!-- container-->
        <main class="container">
            <header>
                <h1 class="title">Prolog Visualiser</h1>
                <div class="desc">
                    Visualisation tool that converts <u>Prolog clauses</u> into a 
                    <u>graphical notation</u> for improved comprehension and analysis of logical 
                    programming.
                </div>
                <textarea class="code-input-area" placeholder="Enter your prolog clause here..."></textarea>
                <div class="button-group">
                    <button class="clear-button">clear</button>
                    <button class="visualise-button">visualise</button>
                </div>
            </header>
            <article>
                <div id="graphical-layout-area"></div>
            </article>
        </main>
        <!-- /container-->
<!-- include end -->
    <%- include('include/_end') %>
<!-- /include end -->