        <script src="/js/expand-code-input.js"></script>
        <!-- To use require(...) imports from parse-prolog-code.js in browser. -->
        <!-- browserify assets/js/parse-prolog-code.js -o assets/js/bundled-parse-prolog-code.js -->
        <script src="/js/bundled-parse-prolog-code.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>